{{if $.Site.Data.config.enableLatex}}
<link rel="preload" href="https://cdn.bootcdn.net/ajax/libs/KaTeX/0.16.6/katex.min.css" as="style"
        onload="this.onload=null;this.rel='stylesheet'" crossorigin="anonymous">
<script defer src="https://cdn.bootcdn.net/ajax/libs/KaTeX/0.16.6/katex.min.js" crossorigin="anonymous"></script>
<script defer src="https://cdn.bootcdn.net/ajax/libs/KaTeX/0.16.6/contrib/auto-render.min.js"
        crossorigin="anonymous"></script>
<script defer src="https://cdn.bootcdn.net/ajax/libs/KaTeX/0.16.6/contrib/copy-tex.min.js"
        crossorigin="anonymous"></script>
{{end}}